.background-universe {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #fff;
  border-radius: 60%;
  box-shadow: -3vw -27vh 3px 1px #fff, 22vw 37vh 3px 2px #fff,
    -46vw -22vh 2px 0px #fff, 9vw -45vh 2px 1px #fff, -28vw 5vh 1px 2px #fff,
    27vw -11vh 2px 1px #fff, 48vw 41vh 0px 3px #fff, 33vw 18vh 0px 1px #fff,
    -25vw -17vh 0px 1px #fff, -30vw -23vh 1px 2px #fff, 41vw 35vh 0px 1px #fff,
    -40vw 25vh 0px 0px #fff, -41vw 48vh 0px 1px #fff, 21vw -10vh 2px 1px #fff,
    1vw -29vh 0px 2px #fff, 0vw 33vh 0px 0px #fff, -10vw -44vh 1px 3px #fff,
    46vw -1vh 3px 2px #fff, -38vw -12vh 1px 1px #fff, -28vw -35vh 3px 2px #fff,
    -38vw 48vh 2px 1px #fff, 14vw 17vh 3px 2px #fff, 46vw -48vh 0px 2px #fff,
    17vw -26vh 3px 2px #fff, -8vw -37vh 1px 1px #fff, 34vw -44vh 3px 0px #fff,
    46vw 14vh 2px 0px #fff, 27vw 13vh 0px 0px #fff, -36vw -37vh 2px 1px #fff,
    -22vw -25vh 2px 1px #fff, -25vw 28vh 0px 3px #fff, 43vw 23vh 3px 2px #fff,
    15vw 43vh 2px 1px #fff, -12vw 32vh 2px 0px #fff, -16vw 0vh 3px 1px #fff,
    -42vw -34vh 2px 1px #fff, 36vw 36vh 3px 3px #fff, 25vw 37vh 1px 3px #fff,
    40vw 29vh 1px 3px #fff, -34vw -43vh 3px 2px #fff, -26vw 2vh 0px 2px #fff,
    26vw 32vh 1px 1px #fff, 32vw 15vh 1px 3px #fff, -33vw 11vh 1px 2px #fff,
    -38vw 42vh 1px 1px #fff, 28vw 1vh 3px 0px #fff, -29vw 38vh 2px 0px #fff,
    25vw -30vh 3px 1px #fff, 27vw -11vh 1px 1px #fff, -13vw -24vh 2px 0px #fff,
    23vw -18vh 2px 3px #fff, 35vw -50vh 0px 0px #fff, 50vw -28vh 0px 3px #fff,
    19vw 17vh 0px 3px #fff, -34vw -12vh 1px 0px #fff, -1vw 30vh 2px 1px #fff,
    -29vw 10vh 3px 0px #fff, -2vw 35vh 1px 0px #fff, 36vw -29vh 1px 0px #fff,
    -22vw -39vh 0px 0px #fff, 42vw 6vh 1px 3px #fff, 0vw -9vh 3px 2px #fff,
    -9vw -29vh 1px 2px #fff, 40vw -27vh 0px 0px #fff, -25vw 35vh 0px 2px #fff,
    -34vw 45vh 3px 2px #fff, -3vw 31vh 0px 1px #fff, -11vw -4vh 1px 0px #fff,
    20vw 17vh 3px 1px #fff, -48vw -11vh 0px 1px #fff, 50vw -25vh 1px 0px #fff,
    -24vw 48vh 1px 2px #fff, -39vw -7vh 1px 2px #fff, 27vw -41vh 2px 1px #fff,
    4vw -26vh 2px 2px #fff, -11vw -10vh 0px 2px #fff, 50vw 45vh 3px 0px #fff,
    -35vw -9vh 0px 2px #fff, -36vw -40vh 0px 3px #fff, -34vw 44vh 1px 1px #fff,
    -11vw -46vh 2px 2px #fff, -47vw 15vh 0px 0px #fff, 28vw -8vh 1px 3px #fff,
    -16vw 37vh 1px 2px #fff, 7vw -31vh 1px 3px #fff, 34vw -17vh 0px 0px #fff,
    -16vw 21vh 3px 1px #fff, 44vw -3vh 2px 1px #fff, 22vw -40vh 3px 3px #fff,
    -45vw -29vh 3px 3px #fff, -26vw 31vh 0px 3px #fff, -45vw 21vh 3px 3px #fff,
    -37vw -16vh 3px 3px #fff, -19vw 40vh 0px 3px #fff, 20vw 47vh 3px 3px #fff,
    -7vw -5vh 1px 2px #fff, 39vw 41vh 2px 3px #fff, 12vw -24vh 1px 1px #fff,
    34vw 5vh 1px 1px #fff, 24vw -44vh 0px 0px #fff, 36vw -26vh 2px 3px #fff,
    -16vw 48vh 0px 2px #fff, -16vw 21vh 2px 2px #fff, 30vw 40vh 2px 0px #fff,
    4vw 48vh 3px 1px #fff, -14vw 25vh 0px 1px #fff, -32vw 49vh 3px 0px #fff,
    -2vw 27vh 1px 0px #fff, 6vw -49vh 1px 0px #fff, 46vw -32vh 0px 3px #fff,
    32vw 40vh 3px 0px #fff, 24vw -19vh 0px 2px #fff, 23vw 4vh 0px 0px #fff,
    -38vw 45vh 3px 2px #fff, 0vw -47vh 1px 3px #fff, -10vw -5vh 2px 1px #fff,
    -16vw 2vh 3px 0px #fff, 9vw -16vh 1px 2px #fff, -16vw 5vh 3px 0px #fff,
    29vw -18vh 0px 0px #fff, -41vw -19vh 0px 1px #fff, 35vw 16vh 3px 1px #fff,
    -15vw 33vh 2px 0px #fff, 44vw -3vh 2px 3px #fff, -43vw -3vh 3px 2px #fff,
    30vw 35vh 0px 3px #fff, 27vw -6vh 0px 3px #fff, 28vw -20vh 0px 2px #fff,
    -40vw -24vh 2px 1px #fff, -16vw 21vh 0px 0px #fff, -34vw 3vh 1px 2px #fff,
    -16vw 46vh 0px 2px #fff, 1vw 9vh 2px 2px #fff, 20vw -48vh 2px 3px #fff,
    -41vw 35vh 1px 0px #fff, -25vw 15vh 3px 0px #fff, 32vw 39vh 0px 2px #fff,
    4vw 20vh 2px 1px #fff, 3vw 34vh 2px 0px #fff, -18vw -39vh 1px 1px #fff,
    -49vw -20vh 2px 1px #fff, -46vw 9vh 0px 2px #fff, 7vw 22vh 2px 3px #fff,
    -7vw 44vh 3px 1px #fff, 25vw 0vh 1px 2px #fff, -10vw 50vh 0px 1px #fff,
    25vw 47vh 1px 0px #fff, -6vw 44vh 3px 3px #fff, 4vw -40vh 3px 2px #fff,
    -31vw 33vh 0px 1px #fff, -46vw -20vh 1px 0px #fff, -48vw -16vh 0px 2px #fff,
    12vw -10vh 1px 3px #fff, -48vw -35vh 0px 1px #fff, -1vw -16vh 3px 0px #fff,
    35vw -23vh 3px 1px #fff, 1vw -29vh 1px 0px #fff, -26vw -50vh 3px 2px #fff,
    42vw 18vh 2px 1px #fff, 43vw 20vh 0px 2px #fff, 10vw -38vh 1px 0px #fff,
    25vw 6vh 1px 2px #fff, 44vw -32vh 0px 0px #fff, -31vw -37vh 0px 1px #fff,
    -15vw -4vh 3px 0px #fff, -50vw 49vh 1px 0px #fff, 49vw 45vh 0px 3px #fff,
    -38vw 10vh 0px 2px #fff, -4vw -42vh 3px 3px #fff, -19vw 17vh 2px 1px #fff,
    -4vw 4vh 3px 2px #fff, 10vw 43vh 0px 3px #fff, -12vw 47vh 1px 2px #fff,
    49vw 25vh 1px 2px #fff, -18vw -7vh 0px 3px #fff, -28vw 31vh 3px 1px #fff,
    3vw 30vh 0px 2px #fff, -26vw -18vh 0px 2px #fff, -23vw 7vh 1px 1px #fff,
    -39vw -19vh 3px 2px #fff, -35vw 17vh 3px 3px #fff, -32vw -21vh 0px 3px #fff,
    -7vw 45vh 3px 3px #fff, 49vw 36vh 2px 3px #fff, -16vw -45vh 1px 1px #fff,
    -48vw 6vh 0px 0px #fff, -25vw 27vh 3px 0px #fff, 22vw -41vh 1px 3px #fff,
    42vw -18vh 0px 0px #fff, -21vw 7vh 0px 2px #fff, 17vw 28vh 2px 2px #fff,
    -17vw 49vh 3px 1px #fff, 4vw 22vh 0px 2px #fff, -39vw 32vh 0px 1px #fff,
    15vw 30vh 0px 2px #fff, -14vw -29vh 0px 3px #fff, 11vw 37vh 0px 3px #fff,
    -12vw 21vh 1px 3px #fff, 47vw -41vh 3px 3px #fff, -49vw -34vh 1px 3px #fff,
    12vw 24vh 1px 3px #fff, -17vw 44vh 3px 1px #fff, -45vw -16vh 1px 2px #fff,
    -37vw 7vh 1px 3px #fff, -47vw -29vh 3px 3px #fff, 20vw -45vh 3px 3px #fff,
    26vw 17vh 2px 0px #fff, -1vw 49vh 3px 0px #fff, 25vw 27vh 1px 0px #fff,
    12vw 16vh 1px 1px #fff, -16vw 40vh 2px 2px #fff, -18vw 6vh 2px 3px #fff,
    2vw -16vh 1px 3px #fff, -32vw 34vh 3px 2px #fff, 17vw -4vh 1px 2px #fff,
    -39vw -20vh 1px 3px #fff, 15vw 15vh 3px 0px #fff, 50vw -26vh 2px 1px #fff,
    9vw -47vh 3px 1px #fff, -8vw 3vh 1px 0px #fff, -24vw 19vh 1px 2px #fff,
    -13vw 13vh 0px 3px #fff, 6vw -20vh 1px 3px #fff, 7vw -1vh 1px 1px #fff,
    4vw -34vh 3px 1px #fff, 9vw 2vh 0px 1px #fff, 0vw 49vh 3px 2px #fff,
    -6vw 20vh 1px 0px #fff, 25vw -17vh 3px 2px #fff, 31vw -36vh 3px 2px #fff,
    -21vw -13vh 2px 3px #fff, -17vw 31vh 0px 1px #fff, -17vw -5vh 1px 0px #fff,
    -21vw 2vh 2px 2px #fff, 49vw -24vh 1px 2px #fff, 6vw -33vh 0px 2px #fff,
    1vw -20vh 3px 1px #fff, -40vw -27vh 2px 2px #fff, -37vw -20vh 0px 1px #fff,
    22vw -37vh 0px 3px #fff, -15vw 46vh 3px 3px #fff, 38vw 46vh 0px 0px #fff,
    12vw -3vh 2px 3px #fff, -7vw -36vh 0px 0px #fff, 17vw 3vh 0px 0px #fff,
    -42vw -8vh 2px 1px #fff, -19vw -22vh 2px 1px #fff, 29vw 29vh 0px 2px #fff,
    44vw 31vh 1px 0px #fff, -10vw 12vh 3px 2px #fff, -44vw -7vh 3px 0px #fff,
    41vw -45vh 3px 2px #fff, -17vw -26vh 2px 0px #fff, -2vw -11vh 3px 0px #fff,
    35vw 11vh 3px 1px #fff, -11vw -34vh 0px 0px #fff, -14vw -44vh 1px 0px #fff,
    19vw 6vh 1px 3px #fff, -35vw -16vh 3px 1px #fff, 25vw -7vh 0px 1px #fff,
    -34vw 32vh 2px 0px #fff, -12vw 24vh 3px 3px #fff, -12vw 4vh 1px 0px #fff,
    -34vw 13vh 3px 1px #fff, 37vw 50vh 0px 2px #fff, 5vw -18vh 3px 2px #fff,
    -36vw -4vh 1px 1px #fff, 8vw 43vh 2px 2px #fff, -6vw 19vh 0px 0px #fff,
    18vw 7vh 3px 2px #fff, -23vw 4vh 0px 0px #fff, 8vw 27vh 3px 1px #fff,
    -9vw -37vh 0px 3px #fff, 30vw -1vh 1px 3px #fff, 42vw 22vh 2px 0px #fff,
    -23vw -22vh 3px 0px #fff, 17vw 25vh 3px 2px #fff, -6vw -38vh 0px 2px #fff,
    27vw 20vh 1px 1px #fff, 49vw 33vh 2px 1px #fff, -22vw 21vh 0px 3px #fff,
    -11vw -21vh 2px 3px #fff, -38vw -3vh 2px 1px #fff, -17vw -45vh 0px 0px #fff,
    -3vw -7vh 0px 2px #fff, -13vw 2vh 2px 3px #fff, -21vw -36vh 0px 0px #fff,
    -37vw 25vh 0px 2px #fff, -27vw 49vh 2px 2px #fff, -10vw -8vh 2px 0px #fff,
    39vw 26vh 3px 1px #fff, 17vw -27vh 3px 2px #fff, 10vw 37vh 0px 3px #fff,
    -17vw -29vh 2px 2px #fff, 35vw 46vh 2px 1px #fff, -16vw -44vh 3px 2px #fff,
    -1vw -1vh 1px 1px #fff, -16vw 25vh 1px 3px #fff, -28vw -50vh 0px 0px #fff,
    43vw 29vh 3px 2px #fff, -45vw 7vh 1px 0px #fff, -23vw 32vh 2px 0px #fff,
    -14vw -17vh 2px 2px #fff, -3vw 45vh 2px 3px #fff, -46vw -2vh 0px 0px #fff,
    -16vw 44vh 2px 0px #fff, 19vw 26vh 1px 2px #fff, 39vw -8vh 2px 1px #fff,
    -48vw 3vh 0px 0px #fff, 32vw -38vh 3px 1px #fff, 20vw 26vh 3px 3px #fff,
    -27vw 28vh 0px 0px #fff, -9vw 48vh 3px 2px #fff, -41vw 23vh 2px 2px #fff,
    -14vw 26vh 0px 1px #fff, -1vw -35vh 1px 2px #fff, 24vw -36vh 1px 3px #fff,
    1vw 3vh 2px 0px #fff, 14vw -37vh 0px 2px #fff, -19vw -30vh 3px 1px #fff,
    -29vw -31vh 2px 0px #fff, -16vw -28vh 2px 0px #fff, -41vw 20vh 2px 0px #fff,
    -18vw 18vh 0px 3px #fff, -28vw 2vh 3px 2px #fff, -32vw 37vh 1px 1px #fff,
    -4vw 1vh 0px 3px #fff, -10vw 12vh 3px 1px #fff, 49vw 21vh 1px 0px #fff,
    -30vw 4vh 3px 0px #fff, -6vw 41vh 0px 3px #fff, -8vw -9vh 3px 2px #fff,
    28vw 35vh 1px 1px #fff, 2vw -7vh 1px 0px #fff, 44vw 1vh 2px 2px #fff,
    -16vw -21vh 2px 1px #fff, -8vw 50vh 0px 3px #fff, 48vw 35vh 0px 1px #fff,
    16vw 9vh 2px 1px #fff, -11vw 40vh 0px 2px #fff, -35vw 31vh 1px 0px #fff,
    -26vw -47vh 0px 2px #fff, -42vw -50vh 1px 3px #fff, 49vw 7vh 1px 0px #fff,
    48vw -8vh 0px 0px #fff, 35vw -30vh 3px 3px #fff, 30vw -34vh 3px 0px #fff,
    41vw -22vh 2px 3px #fff, -32vw 49vh 1px 3px #fff, 49vw -40vh 0px 1px #fff,
    -20vw 33vh 0px 3px #fff, -41vw -39vh 2px 2px #fff, -20vw -48vh 1px 0px #fff,
    41vw 9vh 0px 0px #fff, 36vw -10vh 2px 2px #fff, 14vw -47vh 0px 0px #fff,
    -23vw -7vh 1px 1px #fff, 6vw 42vh 0px 2px #fff, -32vw 15vh 1px 1px #fff,
    19vw 30vh 1px 3px #fff, 14vw -39vh 3px 1px #fff, 43vw -36vh 1px 0px #fff,
    -12vw 49vh 1px 1px #fff, -10vw 5vh 2px 0px #fff, 49vw -13vh 1px 1px #fff,
    12vw 40vh 1px 1px #fff, 50vw -10vh 0px 0px #fff, -22vw -20vh 2px 2px #fff,
    -15vw -23vh 2px 3px #fff, 31vw -4vh 0px 1px #fff, -15vw -37vh 0px 2px #fff,
    -32vw -34vh 1px 1px #fff, 21vw -16vh 2px 3px #fff, 16vw -49vh 3px 0px #fff,
    -5vw 6vh 0px 1px #fff, 10vw 44vh 3px 3px #fff, 18vw -48vh 0px 2px #fff,
    -1vw -11vh 0px 2px #fff, 28vw -9vh 2px 2px #fff, -28vw 20vh 0px 3px #fff,
    48vw 42vh 0px 0px #fff, 20vw 14vh 2px 2px #fff, 23vw 7vh 3px 3px #fff,
    -36vw -37vh 3px 1px #fff, -43vw 22vh 1px 3px #fff, -31vw -40vh 3px 3px #fff,
    50vw -3vh 1px 3px #fff, 34vw -8vh 0px 2px #fff, 6vw -4vh 1px 3px #fff,
    -41vw -44vh 1px 2px #fff, 37vw -21vh 3px 0px #fff, -45vw 14vh 2px 3px #fff,
    -30vw 49vh 2px 3px #fff, 49vw -34vh 3px 2px #fff, -7vw -17vh 1px 1px #fff,
    14vw -24vh 3px 3px #fff, 25vw -37vh 1px 1px #fff, -31vw 45vh 0px 1px #fff,
    -6vw 12vh 2px 2px #fff, -23vw -46vh 2px 2px #fff, -31vw 31vh 2px 2px #fff,
    -35vw 26vh 0px 3px #fff, 18vw -39vh 0px 2px #fff, -18vw -4vh 2px 0px #fff,
    29vw 31vh 2px 0px #fff, -34vw -12vh 1px 3px #fff, 35vw -48vh 2px 3px #fff,
    39vw 22vh 0px 1px #fff, 18vw -2vh 0px 3px #fff, 42vw -31vh 1px 1px #fff,
    -41vw 50vh 3px 3px #fff, -5vw 41vh 2px 0px #fff, 30vw -22vh 0px 0px #fff,
    48vw 2vh 3px 0px #fff, 44vw -47vh 2px 2px #fff, 42vw 14vh 2px 2px #fff,
    6vw 43vh 1px 3px #fff, -3vw -11vh 2px 2px #fff, -5vw 11vh 3px 2px #fff,
    -50vw -11vh 0px 1px #fff, -6vw -37vh 1px 0px #fff, 12vw 22vh 3px 1px #fff,
    -40vw 50vh 2px 1px #fff, 44vw 6vh 1px 3px #fff, -11vw 29vh 3px 3px #fff,
    -14vw 20vh 0px 3px #fff, -15vw 47vh 2px 2px #fff, 41vw -31vh 3px 2px #fff,
    20vw 45vh 0px 3px #fff, -22vw -42vh 1px 3px #fff, 26vw 31vh 1px 1px #fff,
    37vw -36vh 0px 1px #fff, 0vw 12vh 0px 1px #fff, -1vw 5vh 2px 3px #fff,
    -8vw -6vh 0px 0px #fff, -14vw 9vh 1px 3px #fff, 0vw 24vh 3px 0px #fff,
    -17vw 50vh 3px 2px #fff, 2vw -20vh 0px 3px #fff, 33vw -11vh 0px 3px #fff,
    -2vw 10vh 3px 0px #fff, -19vw 28vh 1px 2px #fff, -18vw 40vh 1px 3px #fff,
    -45vw 40vh 3px 3px #fff, -13vw 46vh 1px 0px #fff, -20vw 36vh 2px 2px #fff,
    34vw 12vh 1px 1px #fff, -46vw -17vh 2px 0px #fff, 19vw 41vh 1px 2px #fff,
    -8vw -1vh 3px 3px #fff, -36vw 44vh 0px 2px #fff, -36vw 20vh 0px 0px #fff,
    -50vw 38vh 3px 3px #fff, -12vw 27vh 3px 1px #fff, 40vw -49vh 3px 2px #fff,
    -45vw -1vh 2px 3px #fff, -41vw 13vh 0px 3px #fff, 11vw 20vh 0px 2px #fff,
    -36vw -36vh 2px 0px #fff, -8vw 13vh 1px 3px #fff, 8vw -48vh 0px 1px #fff,
    20vw -27vh 2px 1px #fff, 25vw -32vh 1px 1px #fff, 6vw 21vh 1px 0px #fff,
    22vw 23vh 3px 2px #fff, -17vw -15vh 0px 0px #fff, 35vw 48vh 3px 2px #fff,
    33vw 6vh 3px 3px #fff, -8vw -23vh 0px 1px #fff, 48vw -2vh 3px 1px #fff,
    48vw -29vh 0px 0px #fff, -11vw 34vh 0px 0px #fff, 39vw -44vh 2px 3px #fff,
    -45vw 9vh 1px 0px #fff, -17vw 19vh 0px 1px #fff, -18vw 38vh 3px 3px #fff,
    -9vw -14vh 1px 0px #fff, -43vw -23vh 0px 3px #fff, -36vw 27vh 3px 1px #fff,
    -48vw -47vh 3px 1px #fff, -39vw -41vh 1px 3px #fff, -29vw -8vh 0px 2px #fff,
    35vw 4vh 3px 0px #fff, -32vw 48vh 1px 2px #fff, 26vw 39vh 1px 0px #fff,
    13vw -12vh 2px 2px #fff, 25vw 9vh 1px 2px #fff, -49vw 27vh 0px 1px #fff,
    -23vw -9vh 3px 0px #fff, -42vw -7vh 2px 1px #fff, -49vw -25vh 2px 2px #fff,
    21vw 30vh 2px 2px #fff, 50vw 22vh 0px 2px #fff, -32vw -4vh 2px 0px #fff,
    28vw 11vh 2px 3px #fff, -14vw 17vh 2px 0px #fff, 46vw -32vh 3px 1px #fff,
    2vw -27vh 0px 3px #fff, -48vw 30vh 3px 0px #fff, 18vw -24vh 1px 3px #fff;
  z-index: -1;
}
